.yomogibold {
    font-family: "yomogi", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.yomogi {
    font-family: "yomogi", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.marutitle {
    font-family: "ta-kasanemarugo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logoimg {
    width: 40rem;
    max-width: 95%;
}
.mojiblock {
    width: 40rem;
    max-width: 95%;
}
.onepointblock {
    width: 40rem;
    max-width: 95%;
    background-size: 20rem;
    background-image: url(https://edge-server.224.works/logo.png);
    background-repeat:  no-repeat;
    background-position: top right;
}
.coverblock {
    width: 40rem;
    max-width: 95%;
    background-image: url(https://edge-server.224.works/AzaleaWorks_ToneungaDrone.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-color:rgba(220, 250, 255, 0.8);
    background-blend-mode:lighten;
    background-size: cover;
}
.darkblock {
    width: 40rem;
    max-width: 95%;
    background-image: url(https://edge-server.224.works/unga_3d.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-color:rgba(10, 20, 45, 0.8);
    background-blend-mode:darken;
    background-size: cover;
}
.bgimage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(https://edge-server.224.works/AzaleaWorks_ToneungaDrone.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    position: fixed;
    z-index: -10;
    background-color:rgba(240, 250, 255, 0.5);
    background-blend-mode:lighten;
}
.headershadow {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-color: transparent;
}
  
.box1 {
    width: 40rem;
    max-width: 95%;
    position: relative;
}
.box1:before,
.box1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    z-index: -1;
}
.box1:after {
    top: 2px;
    left: 2px;
    background-color: rgba(250, 250, 250, 0.8);
    z-index: -2;
} 