.yomogibold {
    font-family: "yomogi", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.yomogi {
    font-family: "yomogi", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.marutitle {
    font-family: "ta-kasanemarugo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logoimg {
    width: 40rem;
    max-width: 95%;
}
.mojiblock {
    width: 40rem;
    max-width: 95%;
}
.bg-test {
    background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(https://edge-server.224.works/AzaleaWorks_ToneungaDrone.jpg);  /* 背景画像指定 */
    background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
    background-position: center;    /* 背景の位置指定 */
    background-attachment: fixed;
}
