.yomogibold {
    font-family: "yomogi", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.yomogi {
    font-family: "yomogi", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.marutitle {
    font-family: "ta-kasanemarugo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logoimg {
    width: 40rem;
    max-width: 95%;
}
.mojiblock {
    width: 40rem;
    max-width: 95%;
}
.bg-test {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(https://edge-server.224.works/AzaleaWorks_ToneungaDrone.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    overflow: auto;
}
